/*
Personal Introduction Webpage
Author: Kenneth Daily
Date: 4/12/2026

Filename: style.css
Supporting Files: none
*/
body {background-color: #aa9c89; text-align: left;}

h1 {background-color:#8a694a; text-align: center;}
h2 {background-color:#8a694a; text-align: center;}
body {color: #27160d}
h1 {color: #27160d}
h2 {color: #27160d}
h5 {color:#7c5b2e}